.contact-container {
  background: rgb(46, 227, 137);
  background: linear-gradient(
    197deg,
    rgba(46, 227, 137, 1) 35%,
    rgba(29, 158, 94, 1) 100%
  );
  position: relative;
}
.contact-image {
  position: absolute;
  right: 0;
  bottom: 0;
}
