body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='12' viewBox='0 0 20 12'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='charlie-brown' fill='%232ee389' fill-opacity='0.25'%3E%3Cpath d='M9.8 12L0 2.2V.8l10 10 10-10v1.4L10.2 12h-.4zm-4 0L0 6.2V4.8L7.2 12H5.8zm8.4 0L20 6.2V4.8L12.8 12h1.4zM9.8 0l.2.2.2-.2h-.4zm-4 0L10 4.2 14.2 0h-1.4L10 2.8 7.2 0H5.8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding: 0;
  margin: 0;
}

.navbar {
  box-shadow: none !important;
  background-color: transparent !important;
}
.navbar-scrolled {
  box-shadow: none !important;
  background-color: #ffffff6b !important;
  backdrop-filter: blur(10px) !important;
  border: 1px solid #e5e5e5 !important;
}
.hero-section {
  animation: slide-in 1s ease-out forwards;
}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.footer {
}
.country-active,
.country-inactive {
  border: 1px solid #2EE389 !important;
  padding: 1em;
  border-radius: 10px;
  background-color: #2ee38915;
  cursor: pointer !important;
}

.country-inactive {
  padding: 1em;
  border: none !important;
  background-color: #2ee38910;
  border-radius: none !important;
}
